<p id="notice"><%= notice %></p>

<h1>Urge Fors</h1>

<table>
  <thead>
    <tr>
      <th>Urge</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @urge_fors.each do |urge_for| %>
      <tr>
        <td><%= urge_for.urge %></td>
        <td><%= link_to 'Show', urge_for %></td>
        <td><%= link_to 'Edit', edit_urge_for_path(urge_for) %></td>
        <td><%= link_to 'Destroy', urge_for, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Urge For', new_urge_for_path %>
