<%= form_with(model: smoke, local: true) do |form| %>
  <% if smoke.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(smoke.errors.count, "error") %> prohibited this smoke from being saved:</h2>

      <ul>
        <% smoke.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :datetime %>
    <%= form.datetime_select :datetime %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :what %>
    <%= form.text_field :what %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
