<h1 class="center-title">quit smoking</h1>

i need to quit smoking. 
i want to quit smoking. 
watch me try to quit smoking. 
what's here...

<div class="card today-card">
  <div class="card-header ">
    <h2 class="mb-0">
        <%= link_to "today", "#" %>
        <p align="center"><%= @urges_today %> urges (<%= (@mins_since_last_urge / 60.0).round(0) %> mins since last). <%= @smokes_today %> smokes (<%= (@mins_since_last_smoke / 60.0).round(0) %> mins since last).</p>
    </h2>
  </div>
  <div class="card-body">
    <div class="home-viz-container">
      <div id='chart'></div>
      <%= render_chart(@chart, 'chart') %>
    </div>
  </div>
</div>
<br><br>
<hr>

<div class="card home-card">
  <div class="card-header">
    <h2 class="mb-0">
        <%= link_to "My Smoking (& Other) History", pages_past_path %>
    </h2>
  </div>
  <div class="card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
  </div>
</div>

<div class="card home-card">
  <div class="card-header">
    <h2 class="mb-0">
        <%= link_to "Quitting", pages_quitting_path %>
    </h2>
  </div>
  <div class="card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
  </div>
</div>

<div class="card home-card">
  <div class="card-header">
    <h2 class="mb-0">
        <%= link_to "Data", pages_data_path %>
    </h2>
  </div>
  <div class="card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
  </div>
</div>

<div class="card home-card">
  <div class="card-header">
    <h2 class="mb-0">
        <%= link_to "Feed", pages_feed_path %>
    </h2>
  </div>
  <div class="card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
  </div>
</div>