<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"> ~ </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "ohme", pages_home_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "~", "", class: "nav-link-diabled" %>
      </li>
      <li class="nav-item">
        <%= link_to "urgefor", urge_fors_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "urges", urges_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "smokes", smokes_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>