<nav class="navbar fixed-top bg-dark">
    <div class="nav-items-container">
      
      <div class="nav-item">
        <%= link_to "ohme. ", pages_home_path, class: "nav-link" %>
      </div>

      <div class="nav-item align-bottom">
        <%= link_to " ", "", class: "nav-link-diabled" %>
      </div>

      <div class="nav-item">
        <%= link_to "urges", urges_path, class: "nav-link" %>
      </div>

      <div class="nav-item">
        <%= link_to "smokes", smokes_path, class: "nav-link" %>
      </div>

      <div class="nav-item">
        <%= link_to "+ spliff urge", urges_quick_create_path(urge_for_id: 1), class: "nav-link nav-button" %>
      </div>

      <div class="nav-item" style="margin-left: 1vw;">
        <%= link_to "+ spliff smoked", smokes_quick_create_path(what_was_smoked: "spliff"), class: "nav-link nav-button" %>
      </div>

    </div>
</nav>